services:
  npm:
    image: 'jc21/nginx-proxy-manager:latest'
    container_name: npm
    restart: unless-stopped
    ports:
      - '80:80'   # HTTP
      - '443:443' # HTTPS
      - '81:81'   # Admin Dashboard
    volumes:
      - ./data:/data
      - ./letsencrypt:/etc/letsencrypt
